header {
  width: 100%;
  max-width: 64rem;
  margin: 1.2rem auto;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;

  .left {
    display: flex;
    align-items: center;

    img {
      margin-right: 0.56rem;
    }
  }

  .right {
    img {
      display: none;
    }
  }
}

section {
  width: 100%;
  max-width: 944px;
  margin: 0 auto 5rem auto;
  padding: 0 56px;
  position: relative;
  font-family: Nunito;

  h1 {
    position: relative;

    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 1.2;

    transform: translateY(48px);

    width: 400px;
    margin-bottom: 90px;

    b {
      color: #fd7f02;
    }

    &::before {
      content: "D";
      position: absolute;
      left: -48px;
      top: -68px;
      font-family: 'SF Pro Text';
      font-style: normal;
      font-weight: 800;
      font-size: 120px;
      color: #333;
      opacity: 0.04;

    }
  }

  img {
    position: absolute;
    right: 48px;
    top: 0;
    width: 489px;
  }

  li {
    margin: 35px;
    position: relative;
    color: #4C4471;

    &::before {
      content: "";
      position: absolute;
      top: 6.4px;
      left: -28.8px;
      width: 16px;
      height: 10px;
      background-image: url("../assets/img/right.svg");
    }
  }

  button {
    width: 287px;
  }
}

footer {
  font-family: Nunito;
  font-weight: 400;

  ul {
    display: flex;
    justify-content: center;
  }

  li {
    margin-right: 108px;
    margin-bottom: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  .mask {
    width: 100%;
    height: calc(100% + 50px);
    background-color: rgba($color: #000, $alpha: 0.2);
  }
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;

  transform: translate(-50%, -50%);
  width: 920px;
  height: 690px;
  background-color: #fff;
  border-radius: 20px;
  font-family: Nunito;
}

.faq {
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: auto;


  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border: 2px solid rgba(126, 111, 111, 0);
    box-shadow: 6px 0 0 #E0E0E0 inset;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  h3 {
    margin-top: 20px;
    font-size: 18px;
    color: #000;
  }

  p {
    margin: 10px 0px;
    color: #000;
  }

  a {
    color: rgb(0, 0, 204);
  }
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #eaeaea;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 16px;

    background-color: #fff;
    border-radius: 20px;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin-top: 60px;
    font-weight: 600;
    font-size: 37px;
  }

  p {
    margin-top: 4px;
    color: #828282;
    font-family: Nunito;
    font-weight: 400;
  }

  button {
    display: block;
    margin: 76px auto 16px auto;
    width: 180px;
  }
}

.step1 {
  .choose {
    margin-top: 100px;
    font-size: 20px;
    transform: translate(48px);

    span {
      position: relative;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -44px;
        width: 24px;
        height: 24px;

        border: 2px solid #4c3371;
        border-radius: 50%;
        transition: background-color 0.3s;
      }

      &.active {
        &:before {
          background-image: url("../assets/img/select.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-color: #4c4471;
        }
      }

      &:first-child {
        margin-right: 112px;
      }
    }
  }

  .img {
    background: #f8f9fb;
    margin-top: 32px;
    width: 588px;
    height: 194px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


    input {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 999;
    }

    img {
      width: 150px;
    }

    span {
      color: #bbbec3;
    }
  }

  .choose-img {
    overflow: hidden;
  }
}

.step2 {
  width: 100%;
  padding: 0 130px;
  box-sizing: border-box;

  &>ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 60px;


    &::-webkit-scrollbar {
      display: none;
    }

    li {
      width: 132px;
      height: 127px;
      padding: 28px 34px;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
      border-radius: 16px;
      cursor: pointer;

      p {
        cursor: pointer;
      }

      p:nth-child(1) {
        font-size: 28px;
        font-weight: 600;

        color: #3a3c3e;
      }

      p:nth-child(2) {
        font-size: 12px;

        color: rgba(76, 68, 113, 0.72);
      }

      p:nth-child(3) {
        font-size: 14px;
        line-height: 19px;
        max-height: 60px;
        overflow: hidden;

        color: #4c4471;

        word-break: break-all;
        opacity: 0.9;
      }

      &.active {
        border: 3px solid #4c4471;
        position: relative;

        p:nth-child(1) {
          color: #4c4471;
        }

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 34px;
          height: 34px;

          background-image: url("../assets/img/select.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-color: #4c4471;
          border-radius: 8px 0px 10px;
        }
      }
    }
  }


  .form {
    display: flex;
    margin-top: 32px;

    .amount,
    .label,
    .currency {
      display: flex;
      flex: 1;
      flex-direction: column;

      label {
        padding-left: 0.2rem;
        margin-bottom: 13px;

        color: #4c4471;
      }
    }

    .currency {
      max-width: 150px;
      margin-right: 32px;

      .select-container {
        line-height: 56px;
        background: #f5f7fa;
        border-radius: 8px;
        padding-left: 20px;
        cursor: pointer;
        position: relative;

        &::before {
          content: '';
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOCA2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMS4wMjIgMEw2Ljk3OCAwQzcuODMzMzUgMCA4LjMwODg4IDEuMDMwMTYgNy43NzQ1NSAxLjcyNTU4TDQuNzk2NTUgNS42MDEzOUM0LjM4ODE5IDYuMTMyODcgMy42MTE4MSA2LjEzMjg3IDMuMjAzNDUgNS42MDEzOUwwLjIyNTQ0NyAxLjcyNTU4Qy0wLjMwODg4MyAxLjAzMDE2IDAuMTY2NjUzIDAgMS4wMjIgMFoiIGZpbGw9IiM0QzQ0NzEiLz4KPC9zdmc+Cg==");
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          width: 8px;
          height: 6px;
        }
      }

      ul {
        position: absolute;
        top: 56px;
        width: 170px;
        box-sizing: border-box;
        left: 0;
        background-color: #fff;
        box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        padding-left: 20px;

        height: 200px;
        overflow: auto;
      }


      ul::-webkit-scrollbar {
        width: 3px;
      }

      ul::-webkit-scrollbar-thumb {
        width: 3px;
        border-radius: 10px;
        background: #4c4471;
      }

      ul::-webkit-scrollbar-track {
        background: transparent;
      }

      li {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 52px;

        img {
          width: 28px;
          height: 28px;
          margin-right: 12px;
        }
      }
    }

    .amount {
      margin-right: 32px;
      max-width: 150px;
      position: relative;

      img {
        position: absolute;
        right: 16px;
        bottom: 1.2rem;
        cursor: pointer;
      }

      input {
        height: 32px;
        border-radius: 8px 8px 0 0;
      }

      span {
        height: 24px;
        font-size: 10px;
        background: #f5f7fa;
        border-radius: 0 0 8px 8px;
        padding-left: 20px;
        color: rgba(76, 68, 113, 0.72);
      }
    }

    .label {
      input {
        color: #4c4471;
        font-size: 16px;
      }
    }

    input {
      background: #f5f7fa;
      border-radius: 8px;
      height: 56px;
      font-size: 16px;
      padding: 0 20px;
      cursor: text;
    }
  }

  button {
    margin-top: 57px;
  }
}

.step3 {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-top: 120px;
    width: 520px;
    line-height: 28px;
    text-align: center;
  }

  button {
    width: 286px;
  }

  a {
    margin-top: 128px;
    color: #0a58f1;
    cursor: pointer;
  }
}

.step4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 46px;
  width: 100%;

  pre {
    padding: 32px 60px 50px 60px;
    background-color: #f8f9fb;
    line-height: 28px;
    overflow: auto;

    code {
      font-family: Nunito;
      color: #4f4f4f;
    }
  }

  button {
    margin-top: 58px;
    width: 180px;
  }
}