@media screen and (max-width: 67.5rem) {
  header {
    box-sizing: border-box;

    .right {
      position: relative;

      img {
        display: block;
        cursor: pointer;
      }

      .nav-list-menus-list {
        display: none;
        width: 120px;
        position: absolute;
        right: -13px;
        top: 24px;
        background: #fff;
        box-shadow: 0px 2px 12px 0px rgba(47, 48, 50, 0.3);
        border-radius: 6px 6px 4px 4px;
        z-index: 10;

        .nav-list-menus-item {
          text-align: left;
          padding-left: 24px;
          width: 100%;
          height: 50px;
          font-size: 14px;
          line-height: 46px;
          color: #333333;
          border-radius: 6px 6px 4px 4px;
        }

        a {
          margin: 0;
        }

        &::after {
          display: block;
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          top: -10px;
          right: 18px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent transparent #fff transparent;
        }

        &.active {
          display: block;
        }
      }
    }
  }

  section {
    margin: 115px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 42px;
      width: initial;
      text-align: center;
      margin-bottom: 68px;
    }

    img {
      position: static;
      width: calc(100% - 40px);
      height: initial;
    }


    button {
      margin-top: 3rem;
      width: 247px;
    }
  }

  footer {
    margin-top: 10rem;

    li {
      margin-right: 3.5rem;
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;

    .mask {
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: rgba($color: #000, $alpha: 0.2);
    }
  }

  .content {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    max-height: 675px;
    overflow: auto;
  }

  .close-btn {
    width: 16px;
    height: 16px;


    &:before,
    &:after {
      width: 8px;
    }
  }

  .step {
    width: 100%;

    h2 {
      margin-top: 3rem;
      font-size: 1.5rem;
    }
  }

  .step1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    .choose {
      transform: initial;
      display: flex;
      flex-direction: column;
      margin-top: 5rem;

      span {
        font-size: 1.125rem;
        margin-left: 1.5rem;

        &::before {
          width: 1.25rem;
          height: 1.25rem;
          left: -2rem;
        }

        &:first-child {
          margin-right: 0;
          margin-bottom: 1rem;
        }
      }
    }

    .img {
      max-width: 270px;
      height: 230px;
    }

    button {
      display: block;
      margin: 3rem auto 1rem auto;
    }

  }

  .step2 {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    padding-left: 2rem;

    &>ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 30px;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        min-width: 147px;
        padding: 20px 0 0 18px;
        margin: 1rem 0;
        margin-right: 1.2rem;

        &:last-child {
          margin-right: 2rem;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 160px;
            height: 1px;
          }
        }

        p:nth-child(1) {
          font-size: 1.5rem;
        }

        p:nth-child(2) {
          font-size: 0.625rem;
        }

        p:nth-child(3) {
          font-size: 0.875rem;
        }

        &.active {
          &::before {
            bottom: -1px;
            right: -1px;
            width: 30px;
            height: 30px;
          }
        }
      }
    }


    .form {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;

      .amount,
      .label {
        margin-right: 30px;
      }

      .currency {
        ul {
          left: initial;
          right: 0;
          z-index: 1;
        }
      }

      .currency,
      .amount {
        max-width: initial;
      }

      .amount {
        margin-top: 1rem;
      }

      .label {
        margin-top: 1rem;

        input {
          font-size: 0.88rem;
        }
      }

      input {
        margin-top: 4px;
      }
    }

    button {
      display: block;
      margin: 3rem auto 1rem auto;
      transform: translateX(-1rem);
    }
  }

  .step3 {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-top: 4.88rem;
      width: calc(100% - 50px);
      font-size: 18px;
      line-height: 32px;
      text-align: center;
    }

    button {
      margin: 2.8rem 0 1rem 0;
      width: 266px;
    }

    a {
      margin: 9rem 0 1rem;
    }
  }

  .step4 {
    display: block;
    box-sizing: border-box;
    padding: 0 20px;
    text-align: center;

    pre {
      padding: 12px 20px 30px 20px;
      box-sizing: border-box;
      text-align: left;
      width: 100%;
    }

    p {
      box-sizing: border-box;
      padding: 25px 20px;
      height: initial;
      margin: initial;
    }

    button {
      margin-top: 38px;
      width: 180px;
    }
  }
}

@media screen and (max-width: 67.5rem) {
  section h1 {
    max-width: 350px;

    &:before {
      font-size: 80px;
      top: -38px;
      left: -24px;

    }
  }

}