@font-face {
  font-family: 'Nunito';
  src: url('https://donate.cafe/fonts/Nunito-Regular.1aaa8fb5.ttf') format('truetype'),
    url('https://donate.cafe/fonts/Nunito-Regular.91150e57.woff') format('woff'),
    url('https://donate.cafe/fonts/Nunito-Regular.b0256025.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Nunito';
  src: url('https://donate.cafe/fonts/Nunito-SemiBold.530c2470.ttf') format('truetype'),
    url('https://donate.cafe/fonts/Nunito-SemiBold.ecf303be.woff') format('woff'),
    url('https://donate.cafe/fonts/Nunito-SemiBold.46cd47bb.woff2') format('woff2');
  font-weight: 600;
}

.--donate-button-plug {
  position: relative;
  font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.--donate-button-plug .donate-btn {
  border-radius: 40px;
  width: 150px;
  cursor: pointer;
}

.--donate-button-plug .donate-container {
  position: absolute;
  top: 50px;
  left: 0;
  width: 346px;
  height: 496px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.12);
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
}

.--donate-button-plug .donate-container::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -20px;
  left: 50px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.donate-container .donate-select {
  display: flex;
  align-items: center;
  font-weight: bold;
  line-height: 28px;
  font-size: 18px;
  color: #4c4471;
  position: relative;
  cursor: pointer;

  margin-top: 14px;
}

.donate-container .donate-select-asset-list {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 0 0 0;
  margin: 0;
  width: 160px;
  max-height: 320px;
  z-index: 9999;

  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  overflow: auto;
}

.--donate-button-plug .donate-amount-select-list::-webkit-scrollbar {
  display: none;
}

.donate-container .donate-select-triangle {
  width: 0;
  height: 0;
  position: absolute;
  top: 20px;
  left: 10px;
  border-width: 10px;
  z-index: 9999;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.donate-select-asset-list::-webkit-scrollbar {
  width: 10px;
}

.donate-select-asset-list::-webkit-scrollbar-thumb {
  border: 2px solid rgba(126, 111, 111, 0);
  box-shadow: 6px 0 0 #E0E0E0 inset;
  border-radius: 50px;
}

.donate-select-asset-list::-webkit-scrollbar-track {
  background: transparent;
}

.donate-select-asset-list li {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 12px 0 12px 25px;
}

.donate-select-asset-list li img {
  width: 28px;
  height: 28px;
  margin-right: 16px;
}

.donate-container .donate-select img {
  margin-left: 8px;
}

.--donate-button-plug .donate-close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #eaeaea;
  cursor: pointer;
}

.--donate-button-plug .donate-close-btn::after,
.--donate-button-plug .donate-close-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  width: 0.75rem;
  background-color: #fff;
  border-radius: 20px;
}

.--donate-button-plug .donate-close-btn::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.--donate-button-plug .donate-close-btn::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.--donate-button-plug .donate-avatar-img {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 3px solid rgba(#fff, .3);
  font-size: 2rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 72px 0 0 0;
}

.--donate-button-plug h4 {
  font-size: 20px;
  margin: 12px 0 0 0;
  line-height: 27px;
  padding: 0;
  color: #4c4471;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 260px;
}

.--donate-button-plug .donate-amount-select-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 12px 0 0 0;
  padding: 0;
  overflow: auto;
}


.--donate-button-plug .donate-amount-select-list li {
  min-width: 135px;
  height: 158px;
  padding: 21px 14px;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  list-style: none;
  cursor: pointer;
  position: relative;
}

.--donate-button-plug .donate-amount-select-list li p {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.--donate-button-plug .donate-amount-select-list li p:nth-child(1) {
  font-size: 20px;
  font-weight: 600;
  color: #3a3c3e;
}

.--donate-button-plug .donate-amount-select-list li p:nth-child(2) {
  font-size: 11px;
  line-height: 15px;
  color: rgba(76, 68, 113, 0.5);
  word-break: break-all;
  margin: 4px 0 14px 0;
}

.--donate-button-plug .donate-amount-select-list li p:nth-child(3) {
  font-size: 12px;
  line-height: 16px;
  max-height: 60px;
  overflow: hidden;
  color: #4c4471;
  word-break: break-all;
  opacity: 0.9;
}

.--donate-button-plug .donate-amount-select-list li:last-child::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 160px;
  height: 1px;
}

.--donate-button-plug .donate-amount-select-list li.active {
  border: 3px solid #4c4471;
  position: relative;
}

.--donate-button-plug .donate-amount-select-list li.active p:nth-child(1) {
  color: #4c4471;
}

.--donate-button-plug .donate-amount-select-list li.active p::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 31px;
  height: 31px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik00LjcyNTMzIDUuODcwODRMMS41Mzg2NiAyLjc1Mjc3QzEuMTg2NjcgMi40MDgzNiAwLjYxNTk4MiAyLjQwODM2IDAuMjYzOTkyIDIuNzUyNzdDLTAuMDg3OTk3NSAzLjA5NzE4IC0wLjA4Nzk5NzUgMy42NTU1OSAwLjI2Mzk5MiA0TDQuMDg4IDcuNzQxNjlDNC40Mzk5OSA4LjA4NjEgNS4wMTA2OCA4LjA4NjEgNS4zNjI2NyA3Ljc0MTY5TDExLjczNiAxLjUwNTU0QzEyLjA4OCAxLjE2MTEzIDEyLjA4OCAwLjYwMjcyMyAxMS43MzYgMC4yNTgzMUMxMS4zODQgLTAuMDg2MTAzMyAxMC44MTMzIC0wLjA4NjEwMzMgMTAuNDYxMyAwLjI1ODMxTDQuNzI1MzMgNS44NzA4NFoiIGZpbGw9IiNGNkY5RkYiLz4KPC9zdmc+Cg==");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #4c4471;
  border-radius: 8px 0px 10px;
}

.--donate-button-plug button {
  margin-top: 26px;
  width: 160px;
  height: 40px;
  outline: none;
  border: 0;
  background: #4c4471;
  box-shadow: 0px 6px 10px rgba(75, 124, 221, 0.15);
  border-radius: 40px;
  font-family: Nunito;
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
  color: #fff;
  cursor: pointer;
}

.--donate-button-plug .donate-asset-icon {
  width: 80px;
  height: 80px;
  margin-top: 24px;
}

.--donate-button-plug .donate-container>p {
  color: #4C4471;
  font-weight: 700;
  line-height: 24px;
}

.--donate-button-plug .donate-container>p:nth-child(4) {
  font-size: 16px;
  white-space: nowrap;
  margin: 10px 0 0 0;
}

.--donate-button-plug .donate-container>p:nth-child(5) {
  font-size: 16px;
  margin: 0;
  text-align: center;
}

.--donate-button-plug .donate-container canvas {
  margin: 20px 0 8px 0;
  width: 148px;
  height: 148px;
}

.--donate-button-plug .donate-container .donate-address {
  margin: 0 0 18px 0;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  font-weight: 400;
  color: #BBBEC3;
  max-width: 270px;
  word-break: break-all;

  cursor: default;
}

.--donate-button-plug .donate-container .donate-address-button {
  white-space: nowrap;
  width: initial;
  padding: 0 30px;
  margin-top: 0;
}

.--donate-button-plug .donate-container>a {
  display: flex;
  align-items: center;
  font-size: 12px;
  height: 17px;
  color: #4c4471;
  text-decoration: none;
  white-space: nowrap;

  position: absolute;
  bottom: 40px;

}

.--donate-button-plug .donate-container>a img {
  margin: 0 4px;
  width: 12px;
  height: 11px;
}

.--donate-button-plug .donate-container .donate-success {
  width: 40px;
  height: 40px;
  margin-top: 76px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM4LjUgMjBDMzguNSAzMC4yMTczIDMwLjIxNzMgMzguNSAyMCAzOC41QzkuNzgyNzMgMzguNSAxLjUgMzAuMjE3MyAxLjUgMjBDMS41IDkuNzgyNzMgOS43ODI3MyAxLjUgMjAgMS41QzMwLjIxNzMgMS41IDM4LjUgOS43ODI3MyAzOC41IDIwWiIgc3Ryb2tlPSIjNEM0NDcxIiBzdHJva2Utd2lkdGg9IjMiLz4KPHBhdGggZD0iTTI4LjUgMTUuNUwxOC43MDcxIDI1LjI5MjlDMTguMzE2NiAyNS42ODM0IDE3LjY4MzQgMjUuNjgzNCAxNy4yOTI5IDI1LjI5MjlMMTIuNSAyMC41IiBzdHJva2U9IiM0QzQ0NzEiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=");
}

.--donate-button-plug .donate-container .donate-done {
  font-size: 14px;
  line-height: 32px;
  margin-bottom: 60px;

  color: #bcbec3;
}