
@font-face {
  font-family: 'Nunito';
  src: url('./Nunito-Regular.ttf') format('truetype'),
    url('./Nunito-Regular.woff') format('woff'),
    url('./Nunito-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Nunito';
  src: url('./Nunito-SemiBold.ttf') format('truetype'),
    url('./Nunito-SemiBold.woff') format('woff'),
    url('./Nunito-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('./SF-Pro-Text-Heavy.ttf') format('truetype'),
    url('./SF-Pro-Text-Heavy.woff') format('woff'),
    url('./SF-Pro-Text-Heavy.woff2') format('woff2');
  font-weight: 800;
}